/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
} */

.homeCont {
    width: 100%;
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272727;
    
} 

.login {
    text-decoration: none;
    padding: 15px 30px;
    margin: 0 15px;
    border: 2px solid #00aeff;
    color: #f7d61d;
    font-size: 20px;
    letter-spacing: 2px;
    position: relative;
    text-transform: uppercase;
    overflow: hidden;
    background-color: rgb(102, 89, 89);
    z-index: 5;
}

.wave {
    position: absolute;
    width: 100%;
    height: 100%;
    top: calc(100% + 22px);
    left: 0;
    background-color: #6ab1da;   
    opacity: 0.5;
    transition: all 1s; 
    z-index: 1;
}

.wave::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 22px;
    background-image: url(../Assets/wave.png);
    top: -22px;
    animation: wavee 0.5s linear infinite;
    left: 0;
    z-index: 1;


}

@keyframes wavee {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 100px;
    }
}

.login:hover .wave {
    top: 0;
}

.login:hover {
    color: #fff;
}

h2{
    color: white;
}