.NavContainer {
    background-color: #d6a138;
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    
}

img{
    width: 30px;
}

li{
    display: flex;
    align-items: center;
    margin: 10px;
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #FFFFFF;


}

